body {
    background: url("../images/diamond_upholstery/diamond_upholstery_@2X.png")
}

/* crystal buttons */
input {
    width: 110px;
    height: 110px;
    position: relative;
    bottom: 100px;
}

input:hover {
    border: 3px solid #7F1F1F;
}

/* title of game */
header {
    background-color: #7F1F1F;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    padding: 1px;
}

/* game instructions */
.content {
    background-color:#3F3F3F;
    color: white;
    width: 400px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    top: 10px;
}

/* Random number */
.random-number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    background-color: #001076;
    padding: 5px;
    width: 240px;
    height: 100px;
    position: relative;
    top: 20px;
}

/* Wins and Losses */
.wins-losses {
    background-color: #3F3F3F;
    width: 90px;
    height: 100px;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 270px;
    bottom: 108px;
}

/* the user's score */
.total-score {
    color: white;
    background-color: #7F1F1F;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    padding: 5px;
    position: relative;
    bottom: 90px;
}

.score-number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    background-color: #7F1F1F;
    padding: 5px;
    width: 250px;
    height: 110px;
    position: relative;
    bottom: 90px;
}